/*css tablet*/
@media screen (min-width:577px) and (max-width:768px){
    .contenedor {max-width: 768px;
        margin: auto;
    }
    
    .col-50 {width: 50%;
        padding: 1%;
        float: left;
    }
}
/*css tablet*/

/*css escritorio*/
@media only screen and (min-width:960px){
    .contenedor {max-width: 1140px;
        margin: auto;
    }
    
    .col-33 {width: 33.33%;/*100/3=33.33*/
        padding: 1%;
        float: left;
    }
}
/*css escritorio*/
